body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    background-color: #000;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid purple;
    margin: 0px auto;
}

#cabecera {
    background: rebeccapurple;
    color: #fff;
    box-shadow: 0px 2px 20px 0px #000;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    display: block;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#post{
    padding: 1em;
    background-color: #fff;
}

#cabecera .tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.6em;
}

#container h1 {
    font-size: 20px;
}

#footer{
    text-align: center;
    color: #fff;
    background-color: blueviolet;
    padding: 0.5rem;
 
}

#footer p{
    margin-bottom: 0;
    margin-top: 0;
}